* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

.styleLink {
text-decoration: none;
font-family: roboto;
color: #006fde;
}
.styleLink:hover {
    color: #6b186b
}
.NavLink {
    color: white;
    text-decoration: none;
    font-family: roboto;
}
.NavLink:hover {
    color: #1a1818;
}
.NavLink:focus {
    color: #1a1818;
}
.userList {
    text-decoration: none;
    font-family: roboto;
    color: #006fde;
}
.userList:hover {
    color: #1a1818;
}
